body {
    font-family:Comfortaa;
    background-color: #78839E;
    color:#EEDCB2;

}

h1, h2, h3, h4, h5, h6 {
    font-family:Comfortaa;
    text-align:center;
}

h2 {
    font-size:30pt;
}

header {
    text-align:center;
}

#hero {
    text-align: center;
}

#hero img {
    width: 300px;
}

#bio {
    text-align: center;
}

footer {
    text-align:center;
    color: #F5F8FF;
    border: 2px solid #9E9685;
    background-color: #9E9685;
}

#hobbies {
    text-align:center;
}

ul li {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    transition: transform 0.2s;
}

ul li:hover {
    transform: scale(1.5);
}