/* Base Section */

* {
    margin: 0;
    padding: 0;
}

/* Background Photo */

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../assets/forest-light-beam-john-towner.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

body {
    font-family: Comfortaa;
    background-color: #484d4e;
    color:#EEDCB2;
    overflow-x: hidden;
}

/* Biography */

#about {
	width: 100%;
	padding: 100px 0px;
}

#about img {
	height: auto;
	width: 220px;
    float: right;
    padding-top: 10rem;
    padding-right: 25rem;
}

#about-text {
	margin: 0;
    padding-left: 10rem;
    padding-top: 8rem;
}

#about-text h2 {
	color: #EEDCB2;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

#about-text h5 {
	color: #EEDCB2;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}

#about-text p {
    color: whitesmoke;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
    width: 800px;
}

@media(max-width: 1919px ) {

    #about img {
        display: none;
    }
}

@media(max-width: 1200px ) {

    #about-text {
        width: 300px;
        padding-left: 10px;
    }

    #about-text p {
        width: 300px;
    }

}

/* Gallery */

#row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

#gallery {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

#gallery h1 {
    font-size: 80px;
    padding-bottom: 10px;
    letter-spacing: 10px;
}

#gallery-col {
    flex-basis: 31%;
    background: #797575;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: Comfortaa;
}

#gallery-col:hover {
    box-shadow: 0 0 20px 0px rgba( 0, 0, 0, 0.2);
}

#gallery-col img {
    height: 50%;
    width: 80%;
    border-radius: 10px;
}

#gallery-col p {
    padding: 0;
    color: whitesmoke;
}

#gallery-col h3 {
    font-family: Comfortaa;
    color: #EEDCB2;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
}

@media(max-width: 1427px) {

    #row {
        flex-direction: column;
    }

    #gallery h1{
        font-size: 60px;
    }

}

/* Blog */

#blog {
    padding-top: 5rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "blog-text map";
}

#blog-text {
    grid-area: blog-text;
}

#blog-text h1 {
    padding-bottom: 2rem;
    text-align: center;
}

#blog-text p {
    color: whitesmoke;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1em;
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
}

@media(max-width: 1100px) {

    #blog {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "blog-text"
        "map"; 
    }

    #map {
        width: 50%;
    }

}

/* Video */

#video {
    margin: auto;
    background: #797575;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 5em;
    width: 50%;

}

#video h3 {
    padding-top: 2em;
    padding-bottom: 2em;
}

#video-caption {
    color: white;
    font-size: 0.8em;
    font-style: italic;
}

@media screen and (min-width: 60em) {

    #myVideo {
        width: 100%;
        height: 100%;
    }

}

@media screen and (min-width: 100rem) {

    #myVideo {
        width: 560px;
        height: 315px;
    }

}

/* Contact Me */

#formElements {
    display:grid;
    row-gap: .8em;
}

#contact {
    background-color: #141414;
    padding: 1em;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #141414;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 1em;
}

legend {
    background-color: #141414;
    color: white;
    padding: .5em;
    border-radius: 1em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1em;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #1e1e1e;
    color: white;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

/* Footer */

footer {
    text-align:center;
    color: #F5F8FF;
    border: 2px solid #141414;
    background-color: #141414;
}

#github {
    padding-left: 5em;
    text-decoration: none;
    color: whitesmoke;
}
